<div class="container box-score bg-secondary" style="margin-top: 80px">
  <h4>Score - [score]</h4>
  <p>nb partie similaire</p>
</div>
<br>
<div class="container d-flex justify-content-between mt-5">
  <div class="box-container mx-2 bg-secondary">
    <div class="container">
      <div class="panel-heading ">
        <h4>L'artefact [id1]</h4>
        <hr>
      </div>
      <div class="panel-body ">
        information relative a l'artefact
      </div>
    </div>
  </div>
  <div class="box-container mx-2 bg-secondary">
    <div class="container">
      <div class="panel-heading ">
        <h4>L'artefact [id2]</h4>
        <hr>
      </div>
      <div class="panel-body ">
        information relative a l'artefact
      </div>
    </div>
  </div>
</div>
