/* You can add global styles to this file, and also import other style files */

body {
  background-color: #2F4F4F;
}

.rounded-container {
  border-radius: 15px;
  padding: 20px;
  margin-top: 5px;
  text-align: center;
}

.box-container {
  border-radius: 15px;
  padding: 20px;
  height: 600px;
  width: 450px;
  margin-top: 5px;
  text-align: center;
}

.box-score {
  border-radius: 15px;
  padding: 20px;
  height: 150px;
  width: 450px;
  margin-top: 5px;
  text-align: center;
}

a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  color: black;
  text-decoration: none;
}
