<div class="panel panel-default ">
  <div class="panel-heading ">
    <h4>Upload and Download Files</h4>
  </div>
  <div class="panel-body ">
    <strong>Select files from your computer</strong>
  </div> <hr>

  <form enctype="multipart/form-data">
    <fieldset>
      <div class="form-group">
        <p>files</p>
      </div>
    </fieldset>
  </form>
  <button>Send</button>
  <br>
  <!--<div *ngIf="filenames?.length > 0" class="js-upload-finished">
    <h3>Processed files</h3>
    <div *ngFor="let filename of filenames" class="list-group">
      <a (click)="onDownloadFile(filename)" class="list-group-item list-group-item-success" style="cursor: pointer;">
        {{ filename }}
        <a class="alert-success float-right">Download</a>
      </a><br>
    </div>
  </div>-->
</div>

