<div class="panel panel-default ">
  <div class="panel-heading ">
    <h4>Liste des meilleurs scores</h4>
  <hr>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Nom de l'artefact</th>
      <th scope="col">Score</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <a [routerLink]="['/score', 12]">Ashoka</a>
      </td>
      <td>90</td>
    </tr>
    <tr>
      <td>
        <a [routerLink]="['/score', 12]">Anakin</a>
      </td>
      <td>60</td>
    </tr>
    <tr>
      <td>
        <a [routerLink]="['/score', 12]">asm9.4</a>
      </td>
      <td>58.2</td>
    </tr>
    </tbody>
  </table>

  <a [routerLink]="['/score', 12]">Description du score</a>
</div>
